@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0);
  }
}

.input-error {
  border-color: rgb(210, 48, 48); /* Highlight the error */
  animation: vibrate 0.5s ease-in-out;
}
